html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.navbar {
  background-color: aqua;
}
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-container ul {
  list-style: none;
  padding: 0 20px;
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: rgb(33, 125, 125);
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 125, 125);
  border: 1px solid rgb(33, 125, 125);
}

.dashboard {
  padding: 80px 64px;
}

.no-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 37, 37);
  color: white;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 25px;
}
